.navbar{
    height: 100%;
}
.navbar-brand{
    color: black !important;
    font-weight: 700;
}
.b{
    background-color: white;
    padding: 2px 9px;
}
.b-2{
    background-color: white;
    padding: 2px 9px;
}
.c{
    background-color: white;
    padding: 2px 9px;
}
.nav-link{
    color: white  !important;
}
.home{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.news{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.sport-bar{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.reel{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.worklife{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.travel{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.future{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.culture{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.more-dropdown{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.fa-search{
    color: white;
    font-size: larger;
}
.h{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 7px 10px;
}
.fireman{
    background-image: url(./images/fireman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
}
.fireman-span{
    color: red;
}

.woman{
    background-image: url(./images/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}
.woman-text{
    margin-left: 12px;
}
.woman-span{
    color: red;
    margin-left: 12px;
}

.nations{
    background-image: url(./images/six\ nations.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
.nations-text{
    margin-left: 12px;
}
.nations-span{
    color: yellow; 
    margin-left: 12px;
}

.tazania{
    background-image: url(./images/tazania.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3px;
}
.tazania-text{
    margin-left: 12px;
}
.tazania-span{
    color: red; 
    margin-left: 12px;
}

.cowboy{
    background-image: url(./images/cowboy.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3px;
}
.cowboy-text{
    margin-left: 12px;
}
.cowboy-span{
    color: red; 
    margin-left: 12px;
}

.news{
    color: black;
}
.news-span{
    color: red
}

.minister{
    font-size: smaller; 
    color: grey;
}
.minister-span{
    color: red;
}

.pence{
    font-size: smaller; 
    color: grey;
}
.pence-span{
    color: red;
}

.joe-rogan{
    font-size: smaller; 
    color: grey;
}
.joe-span{
    color: red;
}

.sports{
    color: black;
}
.sports-span{
    color: yellow;
}

.FA-Cup{
    font-size: smaller; 
    color: grey;
}
.FA-span{
    color: yellow;
}

.winter-olympics{
    font-size: smaller; 
    color: grey;
}
.winter-span{
    color: yellow;
}

.magic{
    font-size: smaller; 
    color: grey;
}
.magic-span{
    color: yellow;
}

.weekend{
    color: black;
}
.weekend-span{
    color: blue;
}
.date-paragraph{
    font-size: smaller; 
    color: grey;
}
.date-span{
    color: green;
}
.space-paragraph{
    font-size: smaller; 
    color: grey;
}
.space-span{
    color: purple;
}
.basket-paragraph{
    font-size: smaller; 
    color: grey;
}
.basket-span{
    color:blue;
}

.Weather{
    background-color: white;
}
.weather-item{
    font-weight: 400; 
    font-size: smaller;
}

.visit-reel{
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 30px;
}
.visit-tag{
    color: white; 
    text-decoration: none;
}
.visit-tag:hover{
    color: white; 
}
.visit-icon{
    font-size:large;
    color: white;
}

.african-heading{
    color: black;
}
.african-span{
    color: red;
}
.african{
    font-size: smaller; 
    color: grey;
}
.slash{
    color: red;
}

.editors-pick{
    color: black;
}
.editors-span{
    color: blue;
}
.experiment{
    font-size: smaller; 
    color: white;
}
.experiment-span{
    color: green;
}

.style{
    background-color: white;
}

.covid{
    font-size: smaller; 
    color: grey
}
.covid-span{
    color: darkmagenta;
}
.movie{
    font-size: smaller; 
    color: grey;
}
.movie-span{
    color: blue;
}
.brain-quirk{
    font-size: smaller; 
    color: grey;
}
.brain-span{
    color: cyan;
}
.morning-light{
    font-size: smaller; 
    color: grey;
}
.morning-span{
    color: cyan;
}
.neil{
    font-size: smaller; 
    color: grey;
}
.neil-span{
    color: cyan;
}
.food-div{
    background-color: white;
}
.food{
    font-size: smaller; 
    color: grey;
}
.food-span{
    color: cyan;
}

.one{
    background-image: url(./images/nice\ sites.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.two{
    background-color: white;
}
.three{
    background-image: url(./images/green\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.four{
    background-image: url(./images/green\ background.jpg);
    border: 5px solid green;
}
.five{
    background-image: url(./images/light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.female{
    background-image: url(./images/female\ ceo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
.cow{
    background-image: url(./images/cows.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.bbc-world-service{
    font-weight:700; 
    background-color:red;
    color:white;
    padding: 4px 12px;
}
.on-air{
    background-color: black; 
    padding: 4px 12px; 
    padding-right: 740px; 
    color: white;
}

.business{
    font-size: smaller; 
    color: grey;
}
.business-span{
    color: red;
}

.future-border{
    border: 2px solid white; 
    padding: 8px 20px; 
    border-radius: 30px
}
.future-link{
    color: white; 
    text-decoration: none;
}
.future-link:hover{
    color: white; 
}
.future-icon{
    font-size:large;
    color: white;
}

.lewis-span{
    background-color: black;
}

.featured-video{
    color: black;
}
.featured-span{
    color: blue;
}
.jump-span{
    font-size: smaller; 
    color: white;
}
.jump{
    color: cyan;
}

.more-around{
    color: black
}
.more-span{
    color: blue
}
.table-head{
    background-color: red; 
    padding-left: 10px; 
    padding-right: 50px;
    padding-top: 9px; 
    padding-bottom: 5px;
}
.table-data{
    font-size: larger; 
    color: white; 
    background-color: grey; 
    padding-right: 20px; 
    border-top:1px solid black; 
    border-bottom: 1px solid black;
}
.table-span{
    padding-left: 10px; 
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    padding-right: 10px;
    padding-top: 4px; 
    padding-bottom: 4px;
}
.table-bottom{
    font-family: cursive; 
    font-size: smaller;
}

.ice-diving{
    color: black;
}
.ice-span{
    color: blue;
}

.more-languages{
    color: black;
}
.arabic-text{
    direction: rtl;
}
.languages1{
    padding-left: 110px;
}
.languages2{
    padding-left: 150px;
}
.languages3{
    padding-left: 130px;
}

.footer-items{
    color: white;
}
.footer-items:hover{
    color: white;
}
.footer-borders{
    border-right: 1px solid grey;
    height: 90px;
}
.longer-border{
    border-bottom: 1px solid grey;
     margin-top: 20px;
}
@media(max-width:768px){
    
}
@media(max-width:576px){
    .nav-link{
        color: white !important;
        z-index: 9999;
    }
    .fireman-original{
        padding-bottom: 10px;
    }
    .fireman{
        padding-left: 0;
    }
    .fireman-heading{
       padding-left: 0px;
       font-size: larger;
   }
   .woman-original{
    padding-bottom: 10px;
   }
   .nations-original{
    padding-bottom: 10px;
   }
   .tazania-original{
    padding-bottom: 10px;
   }
   .cowboy-original{
    padding-bottom: 10px;
   }
   .former-minister{
    padding-bottom: 20px;
   }
   .trial{
    padding-bottom: 20px;
   }
   .joe-original{
    padding-bottom: 20px;
   }
   .win{
    padding-bottom: 20px;
    padding-top: 10px;
   }
   .winter-original{
    padding-bottom: 20px;
   }
   .date-original{
    padding-bottom: 20px;
    padding-top: 10px;
   }
   .space-original{
    padding-bottom: 20px;
   }
   .visit-original{
       padding-bottom: 12px;
       padding-top: 12px;
   }
   .aftermath{
       padding-bottom: 12px;
   }
   .lovelife{
       padding-bottom: 12px;
   }
   .madagascar{
       padding-bottom: 12px;
   }
   .ariel{
       padding-bottom: 12px;
   }
   .south-africa{
       padding-bottom: 12px;
   }
   .covid-original{
       padding-bottom: 12px;
   }
   .movie-original{
       padding-bottom: 12px;
   }
   .future-holder{
       padding-top: 12px;
       padding-bottom: 12px;
   }
   .tiny-island{
       padding-bottom: 12px;
   }
   .desert{
       padding-bottom: 12px;
   }
   .submarine{
       padding-bottom: 12px;
   }
   .more-original{
       margin-right: auto;
   }
   .footer-borders{
       border-bottom: 1px solid white;
       height: 8px ;
    }
    .footer-items{
        padding-top: 20px !important;
    }
    .languages1{
        padding-left: 12px;
    }
    .languages2{
        padding-left: 12px;
    }
    .languages3{
        padding-left: 12px;
    }
    .on-air{
        padding-right: 0px;
    }
    .bbc-world-service{
        padding-right: 2px;
        padding-left: 1px;
    }
    .table{
        margin-left: 0px !important;
    }
}
